[Desktop Entry]
Encoding=UTF-8
Name=Foin
Comment=Foin P2P Cryptocurrency
Comment[fr]=Foin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Foin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/foin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/foin;
Categories=Office;
